--swiftversion 5.10
--indent 4
--indentcase false
--trimwhitespace always
--insertlines disabled
--removelines disabled
--allman false
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--maxwidth 120
--disable andOperator
--disable isEmpty
--enable sortImports
--importgrouping testable-last
--commas inline
--semicolons inline
--self init-only
--patternlet inline
--elseposition same-line
--guardelse same-line
--closingparen same-line
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line
--stripunusedargs closure-only
--nospaceoperators ..., ..<
--ranges no-space
